{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio - Tienda de Mascotas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Bienvenido a la Tienda de Mascotas</h1>
      <img src="{% static 'images/logo.jpg' %}" alt="Logo Tienda" />
    </header>

    <nav>
      <a href="{% url 'index' %}">Inicio</a>
      <a href="{% url 'secundaria' %}">Catálogo</a>
      <a href="{% url 'contacto' %}">Contacto</a>
      <a href="{% url 'precio_bitcoin' %}">bitcoin</a>
    </nav>

    <section>
      <h2>Sobre nuestra tienda</h2>
      <p>
        Somos la tienda líder en productos para mascotas, ofreciendo calidad y
        variedad.
      </p>
    </section>
  </body>
</html>
